.contact {
  background: #5A7160;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 400;
  padding: 30px 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftlogo {
  height: auto;
  top: 30px;
}

.contact .ftnav {
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  top: 100px;
}



.copyright {
  font-size: 14px;
}

@media screen and (max-width: 770px) {
  .contact {
    padding: 20px 20px 20px;
  }

  .ftlogo {
    top: 50px;
  }

  .contact .ftnav {
    width: 100vw;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .contact {
    padding: 20px 20px 20px;
  }

  .ftlogo {
    top: 30px;
  }

  .contact .ftnav {
    font-size: 14px;
    flex-wrap: wrap;
  }

  .contact .ftnav div {
    margin: 5px 0;
    width: 100vw;
    text-align: left;
  }

  .contact .information {
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .email {
    font-size: 12px;
    line-height: 2;
  }

  .copyright {
    font-size: 12px;
    line-height: 2;
  }
}