.container {
  width: 100%;
  padding: 0 10%;
}

.title {
  font-size: 48px;
  letter-spacing: 0.07em;
  font-weight: 500;
}

.back {
  max-width: 128px;
  font-family: Noto Serif CJK TC;
  font-size: 21px;
  color: #504F4F;
  font-weight: 300;
  letter-spacing: 0.13em;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  padding: 0.1em 0;
  text-align: center;
  cursor: pointer;
}

.back:hover {
  color: #F4F0E9;
  background-color: #504F4F;
  border: 1px solid #504F4F;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}